.chart {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  svg {
    padding: 20px;
  }
}

.line {
  fill: none;
  stroke-width: 3;
}

.dot {
  width: 10px;
  height: 10px;
}

.xAxis, .yAxis {
  font: 14px sans-serif;
}
.xAxis {
  .tick > text {
    transform: translateY(10px);
  }
}

.yGrid, .xGrid {
  .domain {
    display: none;
  }
  .tick > line {
    stroke-dasharray: 3;
    stroke: #CCC;
  }
  .tick > text {
    display: none;
  }
}